<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="img/log.png">
        <link rel="stylesheet" href="./css/style.css">
        <title>Weather app | About me</title>
    </head>

    <body>
        <div class="container">
            {{>header}}
            <img class="avatar" src="./img/me.jpg" alt="">
            {{>footer}}
        </div>

    </body>

</html>
