<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="img/log.png">
        <link rel="stylesheet" href="./css/style.css">
        <title>Weather app | Help</title>
    </head>

    <body>
        <div class="container">
            {{>header}}
            <p>{{text}}</p>
            {{>footer}}
        </div>

    </body>

</html>
